html {
    margin-left: 150;
    margin-top: 100;
    font: 15px arial, sans-serif;
    background-color: #ccf5ff;

};

body {
    margin-left: 150;
    background-color: #ccff33;
}

#login-page {
background:url('/static.images.png');

}

.legend { list-style: none; padding-left:5px;}
.legend li { float: left; margin-right: 10px; font-size:20px; color:white; margin-left:10px;}
.legend span { border: 1px solid #ccc; float: left; width: 40px; height: 20px; margin-left: 10px; }
/* your colors */
.legend .pm { background-color: red; }
.legend .gm { background-color:#ffbb33; }
.legend .gr { background-color: #32cd32; }
.legend .pr { background-color: blue; }


.login-input {
text-align:center; 
font-size:17px; font-family: Helvetica;
border-color:#f7ff00;
border-width: medium;
color:black;
margin-top:1px;
text-align: left;

}

/*font-family: 'MedievalSharp', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Cabin Sketch', cursive;*/
   /* display: table;
}
div.add-text {
    display: table-row;
     break: break-all
}
div.add-radio 
 display: table-row;

}
label, input {
    display: table-cell;
    margin-bottom: 5px;        
    background-size: 15px;
    max-width: 200px; 
    word-wrap: break-word;
}
label {
    padding-right: 10px;
}

h2 {
     text-align: left;
}

#textextra {
text-align: left;
width:700px;
height:300px; 
margin-left: 350px;
border: solid;
font-size:16px;
}

#diary {
    vertical-align: center;
    font-size:18px
}


#logout {
    text-align: right;
    font-size: 18px;
    margin-bottom: 0
}

input{
    font-size: 30px;
}


#vol{
    color: green;
}

#man{
    color: red;
}


#chores {
text-align: center;
    color: navy;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;

   

}
.nice {
background: lightgrey;
height: 40;


}


#save {

    background-color: lightyellow;
    border: solid;
    color: navy;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: middle

}
.popup-overlay.active{
/*/*/*/*/*/*/*/*/*/