{% extends 'base.html' %}
{% block content %}

Hi {{user.user_name}}
this are your messages:
 <form id= "mes-status" action='/process-payment' method="POST">
    {% for message in messages %}
    
        <li id="{{message.id}}" style="list-style-type:none"> 
                
        <button  class ="mes" data-mesid= "{{message.id}}" value="done" style="background:blue">pay</button> 
                  {{ message.message }} 
        </li>

    {% endfor %}
  
</form>

What do you want to do?
<ul>
  <li><a href='/admin-new-user'> Add/update user</a></li>
  <li><a href='/admin-chores'> Add/update chore</a></li>
  <li><a href='/admin- messages'> Show me my messages</a></li>
</ul>  



 <script type="text/javascript">
   
        function showUpdateMessage(results) {
            if (results.status==='ok') {
                let mesid = results.mesid;
                let item = document.getElementById(mesid);
                console.log(item.status);
                // item.prop( "disabled", true );
                item.remove();
            };
            
        }
function UpdateMes(evt) {
    event.preventDefault()

    let mes_id = $(evt.target).data();
    let mesid = mes_id["mesid"];
        
    console.log(mesid);
       
            var formInputs = {
            "mesid": mesid, 
            };

        $.post('/process-payment', formInputs, showUpdateMessage);
    
    }
    $(".mes").on("click", UpdateMes);
    
</script>







{% endblock %}





