<!doctype html>
<html>
<head>
  <title>Chores</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
</head>
<body class = "w3-margin-left" >
  {%if "user.id" in session: %}
  <span id="logout"><a href= "/logout"> Logout</a></span>
  {% endif %}
  <h4 id="chores">Your Daily Chores   </h4>
  
 {%if 'admin' in session %}
  Hi {{session["user_name"]}} You are an administratore!
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
   {% for message in messages %}
    {{ message }}
{% endfor %}
{% endif %}
{% endwith %}
{% block content %} put your content here {% endblock %}

</body>
</html>