<!doctype html>
<html style="background-color:black">
<head>
  <title>Chores</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Dancing+Script|Indie+Flower|Lobster|MedievalSharp|Monoton|Pacifico|Poiret+One|Sacramento|Oswald|Shadows+Into+Light|Tangerine" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
</head>
<body style="background-color:black">
<nav class="navbar navbar-expand-lg bg-dark" style="text-align: left">
  <div class="container" style="margin-left:20px; color:blue;">
    <div class="navbar-header" style="color:blue">
      <a class="navbar-brand" href="/">Home Page</a>
    </div>
     {%if "user.id" in session and "admin" not in session %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/logout">Logout</a></li>
         {%if "diary" not in session %}
          <li class="nav-item"><a class="nav-link" href="/user/diary">My Diary</a></li>
          {% endif %}
     </ul>
      {% endif %}

        {%if "admin" in session %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/logout">Logout</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin-today">Assignments</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin-report">Status</a></li>
      </ul>
        {% endif %}
  
    
  </div>
</nav>
 
{% with messages = get_flashed_messages() %}
{% if messages %}
   {% for message in messages %}
    {{ message }}
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}
{% endblock %}


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>