{% extends 'base.html' %}
{% block content %}



<h2>Hi {{ user.user_name}} </h2>

{% if userchores_mans %} 
<h3>Mandatory chores</h3>

<form id= "status" action='/process-chores' method="POST">
    {% for userchore_man in userchores_mans %}
        <li id="man"> 
            {{ userchore_man.chore.description }} 
                <input  type="hidden" name= "chore_id" value= "{{userchore_man.chore_id}}">
                <select  name="status-{{userchore_man.chore_id}}">
                    <option value={{userchore_man.status}}</option>
                    <option value="done">done</option>
                </select>
        </li>
    {% endfor %}
{% else %}
    <h3>you are done with your mandatory chores for today. Nice job!</h3>    

{% endif %}

{% if userchores_vols %} 
<h3>Chores for Reward</h3>
    {% for userchore_vol in userchores_vols %}
        <li id="vol"> 
            {{ userchore_vol.chore.description }} 
                <input  type="hidden" name= "chore_id" value= "{{userchore_vol.chore_id}}">
                <select  name="status-{{userchore_vol.chore_id}}">
                    <option value="{{userchore_vol.status}}"</option>
                    <option value="done">done</option>
                </select>
        </li>
    {% endfor %}

{% endif %}

    <input id="save" type="submit" value="Save" </input>
</form>
   
{% if userchore_diary %}
    <li id="diary"> 
        <a href= "/user/diary" >Write in my diary</a>
    </li>   
 {% endif %}


{% if "balance" in session %}
<h1>Your balnace is: {{ session["balance"] }} dollars!</h1>
<a href='/clear-balance'> Hide my balance</a>
 {% else %}
 <a href='/show-balance'> Show me my balnace</a>
 {% endif %}
 <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
