{% extends 'base.html' %}
{% block content %}


{%if add_reward=='True' %}
<form id= "add_reward_form" action='/process_add_reward' method="POST">
 Enter the new Reward description <input type="text" name="description" required>
 How many points does this reward worth <input type="number" name="points" 
min="10" max="50" step="10" required>
<input type="submit">
</form>
{% else %}

<a href="/rewards?add_reward=True"> Add a new reward </a>
{% endif %}

 <br>
 
<h1>List of rewards</h1>
{% for reward in rewards %}
<li> Description:{{ reward.description}} Points: {{reward.points}}</a> </li>
{% endfor %}


{% endblock %}