{% extends 'base.html' %}
{% block content %}
<div class="container">

<div class="row">
<div class="col-lg-4">
<h4 id="mes-add" class="title"></h4> 
<button id="add">Add chore</button>
<form id= "addchore" class="form-horizontal" action='/admin-new-chore' method="POST" style="display:none">
  
    <label class="control-label col-sm-6" for="desc">Description: </label>
    <div class="col-sm-10">
    <input type="text" name="desc" id="desc" required> </input>
   
  </div>
 
    <label class="control-label col-sm-6" for="age">Minimum age?  </label>
    <div class="col-sm-10">
    <input type="number" name="age" id="age" required>
    </div>

<div id="must" class="add-radio form-group">
    <label class="control-label col-sm-6" for="must">Must? </label>
    <div class="col-sm-10">
    Yes <input type="radio" name="must"  value="true" required></input>
    No <input type="radio" name="must"  value="false" required></input>
    </div>
</div>
<div id="sim" class="add-radio form-group">
    <label class="control-label col-sm-6" for="sim">Simultaneously? </label>
    <div class="col-sm-10">
    Yes <input type="radio" name="sim"  value="true" required></input>
    No <input type="radio" name="sim"  value="false" required></input>
    </div>

</div>
<div id="often" class="add-radio form-group">
    <label class="control-label col-sm-6" for="often">Frequency? </label>
    <div class="col-sm-10">
    daily <input type="radio" name="often" value="daily" required></input>
    weekly <input type="radio" name="often" value="weekly" required></input>
    twice a week <input type="radio" name="often" value="by_weekly"required></input>
    </div>
</div>
<div>
<button id="submit-add" type="submit">Save</button><br>
</div>
</form>
<br>
</div>

<div class="col-lg-4" >
<table  style= "font-family: arial, sans-serif; border-collapse: collapse; width: 100%">
  <h3>Must chores</h3>
  {% for chore in chores %}
  <tr >

   {% if chore.reward  %}
   <th >{{ chore.description}}, {{chore.reward}}$</th>
   
   {% endif %}
   </tr>
  {% endfor %}
</table>
</div>

<div class="col-lg-4">
<table  style= "font-family: arial, sans-serif; border-collapse: collapse; width: 100%">
  <h3>Reward chores</h3>
  {% for chore in chores %}
  <tr  class="row" class="col-lg-3">
   {% if not chore.reward  %}
  <th>{{ chore.description}}</th>
   {% endif %}
   </tr>
  {% endfor %}

</table>
</div>
</div>
</div>

<!-- add chore to db -->
<script type="text/javascript">
   "use strict";
$("#addchore").hide();


function addedchore(results) {
            if (results.status==='ok') {
                console.log(results.desc);
                let desc = results.desc;
                $("#mes-add").html("chore "+desc+" added to chore list");
                let message = $("#mes-add").html();
                $("#addchore").hide();
                

                };
} ;
function addchore(evt) {
    evt.preventDefault();
    
    let must = $("#must input[type='radio']:checked").val();
     let must_bol = (must === 'true');
    let sim = $("#sim input[type='radio']:checked").val();
     let sim_bul = (sim === 'true');
     let often =  $("#often input[type='radio']:checked").val();
     
    var formInputs =
     {"desc": $("#desc").val(),
     "age": $("#age").val(),
     "must": must_bol,
     "sim":  sim_bul,
     "often" :  often
     };
     console.log(formInputs);
    
     $("#mes-add").show();
    $('#addchore')[0].reset();
         
    $.post('/admin-new-chore', formInputs, addedchore);
};
       
    $("#addchore").on("submit" , addchore);
    
// show form to add chore
    function showchoreform(evt) {
    
    let message = $("#mes-add").html();
    console.log("in show");
    console.log(message);
    $("#mes-add").hide();
    $("#addchore").show();

    
};

  $("#add").on("click", showchoreform);



 </script>
<!-- #############################################################
 -->
<!-- delete chore -->
<script>
  "use strict";
function returnstatus(results) {
            if (results.status==='ok') {
                let chore_id = results.chore;
                let item = $(".chore-delete");
                item.remove();
                };
            
        }
function updatechore(evt) {
    evt.preventDefault();
    
    let choredata = $(evt.target).data();
    console.log(choredata)
    let choreid = choredata["choreid"];
        
    console.log(choreid);
       
            var formInputs = {
            "choreid": choreid, 
            };

           
    $.post('/admin-update-chore', formInputs, returnstatus);
    };
       
    $("#delete").on("submit" , updatechore);
    







</script>



{% endblock %}

